#container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-rows: 120px 70vh 80px;
}

#cabecalho {
    grid-area: cabecalho;
    border: dashed 1px rgb(4, 16, 236);
}

#conteudo {
    grid-area: conteudo;
    border: dashed 1px rgb(4, 16, 236);
}

#rodape {
    grid-area: rodape;
    border: dashed 1px rgb(4, 16, 236);
}
